<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56c87390-f535-47d9-9567-163bba72f572" Alias="Video - Cloudflare Video - Cloudflare Sync" Level="1">
  <Info>
    <Name>Video - Cloudflare Video - Cloudflare Sync</Name>
    <EditorAlias>uFlr.Sync</EditorAlias>
    <EditorUIAlias>uFlr.PropertyEditorUi.CloudflareSync</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "uploadPropertyAlias": "umbracoFile"
}]]></Config>
</DataType>
